.profile-pic {
	max-width=100px;
}


.myButton {
    
    background-color:#415989;
    font-family:helvetica,sans-serif !important;

    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    display:inline-block;
    color:#ffffff;
    font-family:Georgia;
    font-size:17px;
    font-weight:bold;
    padding:5px 5px;
    text-decoration:none;
    text-align: center;
    vertical-align: middle;
    
}
.myButton:hover {
    
    background-color:#516ca3;
}
.myButton:active {
    position:relative;
    top:1px;
}


.logout {
    
    background-color:#005200;
    font-family:helvetica,sans-serif !important;

    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    display:inline-block;
    color:#ffffff;
    font-family:Georgia;
    font-size:17px;
    font-weight:bold;
    padding:5px 5px;
    text-decoration:none;
    text-align: center;
    vertical-align: middle;
    
}
.logout:hover {
    
    background-color:#002400;
}
.logout:active {
    position:relative;
    top:1px;
}



div.ui-btn, input[type="submit"]
{
    /*border:1px solid red !important;*/
    /*text-decoration:none !important;*/
    font-family:helvetica,sans-serif !important;


    background-color:#415989;
    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    display:inline-block;
    color:#ffffff;
    font-family:Georgia;
    font-size:17px;
    font-weight:bold;
    padding:5px 5px;
    text-decoration:none;
    text-align: center;
    vertical-align: middle;
}
div.ui-btn, input[type="submit"]:hover {
    
    background-color:#516ca3;
}

div.ui-btn, input[type="submit"]:active {
    position:relative;
    top:1px;
}



.close {
    
    background-color:#C94949;
    
  -moz-border-radius:500px;
    -webkit-border-radius:500px;
    border-radius:500px;
    
    display:inline-block;
    color:#ffffff;
    font-family:Georgia;
    font-size:15px;
    font-weight:bold;
    width: 30px;
    height: 30px;
    text-decoration:none;
    text-align: center;
    vertical-align: middle;
    position: relative;
    line-height: 30px;

    
}
.close:hover {
    
    background-color:#850505;
}
.close:active {
    position:relative;
    top:1px;
}

